@import '../mixins.scss';

// default style
.single-blog {
    position: relative;

    &:hover {
        .img-wrapper {
            img {
                transform: scale(1.1);
            }
        }
    }

    &.border-one {
        border: 10px solid $baseColor;
    }

    &.border-two {
        border: 6px solid #b9be7e;
    }

    .reverse-order {
        order: -1;
    }

    .img-wrapper {
        position: relative;
        overflow: hidden;
        img {
            display: block;
            width: 100%;
            height: 100%;
            @include transition;
        }

        .play_btn-icon {
            border: 2px solid $white;
            border-radius: 50%;
            display: inline-block;
            width: 70px;
            height: 70px;
            line-height: 70px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: $white;
            font-size: 29px;
            text-align: center;
        }
    }

    .short-details {
        box-sizing: border-box;
        padding: 25px;
        background: $white;

        &-categories {
            margin: 0;
            margin-bottom: 6px;
            color: $baseColor;
            font-size: 11px;
            font-weight: 600;
            text-transform: uppercase;
        }

        &-title {
            margin-bottom: 10px;
            cursor: pointer;
            color: $dip;
            font-size: 27px;
            font-weight: 600;
            line-height: 36px;
            text-transform: capitalize;
            font-family: $headingFont;
                                   
            @include transition;

            &:hover {
                color: $baseColor;
            }
        }

        &-extra-info {
            font-size: 13px;
            text-transform: uppercase;

            &-date {
                color: $pfont;
                @include transition;

                &:hover {
                    color: $baseColor;
                }
            }

            &-author {
                color: $dip2;
                font-weight: 600;
            }

            .icons {
                
                i {
                    padding-right: 5px;
                }

                span {
                    color: $pfont;
                    @include transition;
                    &:not(:last-child) {
                        margin-right: 12px;
                    }
                }
                span:hover {
                    color: $baseColor;
                }
            }
        }

        &.position-right-bottom {
            padding: 40px;
            width: 80%;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}

.single-blog.style-one {
    .short-details {
        padding: 0 65px;
        position: absolute;
        right: 0;
        bottom: 50%;
        background: transparent;
        text-align: center;
        transform: translateY(50%);

        &-categories,&-title,&-extra-info > * {
            color: $white;
        }
    }
}

.single-blog.style-two {
    .short-details {
        padding: 8px 10px;
        position: absolute;
        right: 5%;
        bottom: 0;
        width: 90%;
        text-align: center;

        &-title {
            font-size: 16px;
            line-height: 24px;
        }
    }
}

.single-blog.style-three {
    .short-details {
        &-title {
            font-size: 24px;
            text-transform: none;
        }
    }
}

.single-blog.style-four {
    .short-details {
        padding: 0 18px;
        position: absolute;
        right: 0;
        bottom: 0;
        background: transparent;

        &-categories {
            color: $white;
            @include transition;
        }

        &-title {
            font-size: 20px;
            color: $white;
            @include transition;
        }

        &-categories:hover, &-title:hover {
            color: $baseColor;
        }

    }
}

.single-blog.style-five {
    .short-details {
        margin-top: -92px;
        padding: 40px;
        width: 94%;
        position: relative;
        right: -6%;
    }
}

.video-section {

    .video-img-wrapper {
        position: relative;

        img {
            display: block;
            width: 100%;
            height: 100%;
        }

        .play_btn-icon {
            border: 2px solid $white;
            border-radius: 50%;
            display: inline-block;
            width: 70px;
            height: 70px;
            line-height: 70px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: $white;
            font-size: 29px;
            text-align: center;
        }
    }

    .single-blog.video-style {

        .short-details {
            margin-top: -75px;
            padding: 40px;
            width: 94%;
            position: relative;
            right: -3%;
        }
    }

    .single-blog.video-style-small {
        .short-details {
            padding: 10px;
            padding-left: 20px;
        }
    }
}