@import './variables.scss';
@import './mixins.scss';
@import './predefine.scss';
@import './placeholder.scss';

@import './grid/Grid.scss';

ul,li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    line-height: 27px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    color: #797979;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Josefin Sans", sans-serif;
}

h2,h3,h4,p {
    margin: 0;
}
