// MEDIA QUERY MANAGER
/*
    0 - 600px:      Phone
    600 - 900px:    Tablet portrait
    900 - 1200px:   Tablet landscape
    [1200 - 1800] is where our normal styles apply
    1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
// @mixin respond($breakpoint) {
//     @if $breakpoint == phone {
//         @media only screen and (max-width: 37.5em) { @content };    //600px
//     }
//     @if $breakpoint == tab-port {
//         @media only screen and (max-width: 56.25em) { @content };     //900px
//     }
//     @if $breakpoint == tab-land {
//         @media only screen and (max-width: 75em) { @content };    //1200px
//     }
//     @if $breakpoint == big-desktop {
//         @media only screen and (min-width: 112.5em) { @content };    //1800
//     }
// }


/*
    min 1200px => max 1170px => desk-top
*/
@mixin respond ($breakpoint:desk-top) {
    @if $breakpoint == desk-top {
        @media (min-width: 1200px) {
            margin: 0 auto;
            box-sizing: border-box;
            padding: 0 15px;
            max-width: 1170px;
            @content;
        }
    }
}

@mixin flex-item-width ($g:0,$s:0,$w:auto) {
    flex: $g $s $w;
    max-width: $w;
    box-sizing: border-box;
}

@mixin transition($property: all, $duration: 300ms, $animate: linear, $delay:0s){
	transition: $property $duration $animate $delay; 
}

@mixin flex-between() {
    display: flex;
    justify-content: space-between;
}

@mixin flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin short-details($pd,$pos,$right,$bottom,$w,$bg:#fff) {
    padding: $pd;
    position: $pos;
    right: $right;
    bottom: $bottom;
    width: $w;
    background: $bg;
    @content;
}