@mixin flex-item-width ($w,$g:0,$s:0) {
    flex: $g $s $w;
    max-width: $w;
    box-sizing: border-box;
}

@mixin transition($property: all, $duration: 300ms, $animate: linear, $delay:0s){
	transition: $property $duration $animate $delay; 
}

@mixin short-details($pd,$pos,$right,$bottom,$w,$bg:#fff) {
    padding: $pd;
    position: $pos;
    right: $right;
    bottom: $bottom;
    width: $w;
    background: $bg;
    @content;
}

@mixin createBtn($p1,$p2,$bg,$fz,$dp:inline-block,$color:#fff) {
    display: $dp;
    padding: $p1 $p2;
    background: $bg;
    color: $color;
    font-size: $fz;
    text-align: center;
}

// @mixin createBtn($dp:inline-block,$p1,$p2) {
//     display: $dp;
//     padding: $p1 $p2;
// }