
.area-heading {
    text-align: center;
    margin-bottom: 45px;

    &-title {
        margin-bottom: 23px;
        position: relative;
        color: $dip;
        font-size: 36px;
        font-weight: 600;
        &:after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -15px;
            width: 70px;
            height: 2px;
            transform: translateX(-50%);
            background: $baseColor;
        }
    }

    &-subtitle {
        color: $dip2;
    }
}

.area-padding {
    padding: 130px 0;
}

.background-one {
    background: #fbf1f2;
}

.font-20 {
    font-size: 20px !important ;
    line-height: 26px !important ;
}

.padding-right-0 {
    padding-right: 0 !important;
}

.mb-30 {
    margin-bottom: 30px;
}